.App {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-height: calc(100vh - 133px);
  min-width: 800px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding: 0 100px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  background-color: olivedrab;
}

.navigation li {
  display: inline;
  width: 25%;
  text-align: center;
}

.navigation li a {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(40, 49, 0);
}

.navigation li a:hover {
  background-color: rgb(133, 179, 41);
  color: black;
}

.header {
  background-color: olivedrab;
  height: 50px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.header h1 {
  color: rgb(40, 49, 0);
  margin: 5px;
}

.header a {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  height: 1.5em;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(40, 49, 0);
}

.header a:hover {
  background-color: rgb(133, 179, 41);
  color: black;
}

.search {
  font-style: italic;
  height: 1.5em;
  float: right;
  width: 200px;
  border-radius: 10px;
  padding-left: 5px;
  margin-top: 17px;
}

.user-login {
  float: right;
  margin-top: 17px;
}

.user-list {
  text-align: center;
  margin: 20px 0;
}

.product {
  width: 190px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  padding: 10px 0;
  border: 1px solid rgb(133, 179, 41);
  border-top: 0;
  border-left: 0;
  border-radius: 10px;
}

.admin-list {
  padding-top: 50px;
}

.admin-product {
  width: 75%;
  min-width: 400px; 
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 20px;
  border: 1px solid rgb(133, 179, 41);
  border-top: 0;
  border-left: 0;
  border-radius: 10px;
}

table {
  width: 100%;
}

.table-image {
  vertical-align: top;
}

.product-image {
  max-width: 180px;
  max-height: 200px;
}

.edit-image {
  float: right;
  max-width: 25%;
}

.cart-image {
  height: 100px;
  width: auto;
  margin: 1% 0 1% 0;
}

.chosen {
  width: 350px;
  text-align: center;
}

.chosen img {
  max-width: 340px;
  max-height: 380px;
}

.buy-button {
  float: right;
  width: 80px;
  height: 22px;
  margin-top: 20px;
  background-color: rgba(148, 199, 46, 0.5);
  border-color: rgba(137, 182, 46, 0.5)
}

.add-edit-delete-button {
  float: right;
  margin-right: 10px;
  height: 22px;
  border-radius: 10px;
}

.edit {
  background-color: rgba(255, 166, 0, 0.5);
  border-color: rgb(235, 152, 0, 0.5)
}

.delete {
  background-color: rgba(255, 102, 0, 0.5);
  border-color: rgba(230, 61, 0, 0.5);
}

.add-pay-save {
  margin-right: 10px;
  height: 22px;
  border-radius: 10px;
  background-color: rgba(106, 142, 35, 0.5);
  border-color: rgba(74, 99, 25, 0.5)
}

.pay {
  margin: 10px 0 0 85%;
}

.footer {
  background-color: olivedrab;
  color: rgb(40, 49, 0);
  height: 30px;
  position: relative;
  bottom: 0;
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.cart-list {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid olivedrab;
}

.price {
  color: rgb(28, 88, 0);
}

.close-button {
  display: flex;
  float: right;
  font-size: 2em;
  cursor: pointer;
}

.input {
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px 0;
  height: 1.5em;
}

.textarea {
  border-radius: 10px;
  padding: 0 5px;
  width: 70%;
  height: 60px;
  resize: none;
}